.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-menu {
  /* margin-left: 1/2;
  margin-right: 1/2; */
  max-width: fit-content;
}

.ant-switch {
  max-width: 225px;
}

.ant-typography {
  max-width: 225px;
  background-color: yellow;
}
